extends layout

block content
    .container
        h1 #{title}
        ul.list-group
          each menu, i in menus
            li.list-group-item
              a(href='/events/menu/'+menu._id) #{menu.title}